*{
    padding: 0;
    margin: 0;
}
.Wrap_Quiz{
    width: 100%;
    position: relative;
}
.Quiz{
    display:flex ;
    align-items: center;
    justify-content: space-around;
}
.Quiz .left_quiz ,
.Quiz .right_quiz
{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.Quiz .left_quiz h1 {
    font-size: 60px;
    width: 450px;
}
.Quiz .left_quiz p{
    font-size: 25px;
    width: 540px;
    opacity: 0.9;
    margin: 10px 0;
}
.Wrap_Quiz .clap .clappedboard{
    width: 300px;
    height: 300px;
}
.Wrap_Quiz .clap .quiz_img{
    width: 450px;
    height: 450px;
   
}
.wrap_card_quiz{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_quiz{
    width:  80%;
}
.card_quiz ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    list-style: none;

}
.card_quiz ul li{ 
    width: 300px;
    height: 200px;
    border: 1px solid orange;
    

    
}