*{
    padding: 0;
    margin: 0;
}
.Wrap_Quiz{
    width: 100%;
    position: relative;
}
.Quiz{
    display:flex ;
    align-items: center;
    justify-content: space-around;
}
.Quiz .left_quiz ,
.Quiz .right_quiz
{
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.Quiz .left_quiz h1 {
    font-size: 60px;
    width: 450px;
}
.Quiz .left_quiz p{
    font-size: 25px;
    width: 540px;
    opacity: 0.9;
    margin: 10px 0;
}
.Wrap_Quiz .clap .clappedboard{
    width: 300px;
    height: 300px;
}
.Wrap_Quiz .clap .quiz_img{
    width: 450px;
    height: 450px;
   
}
.wrap_card_quiz{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card_quiz{
    width:  80%;
}
.card_quiz ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 50px;
    list-style: none;

}
.card_quiz ul li{ 
    width: 300px;
    height: 200px;
    position: relative;
    border: 1px solid  rgb(236, 83, 6);
    border-radius: 20px;
    padding: 20px;
    

    
}
.card_quiz ul li button{
    width: 90%;
    padding: 10px 0;
    font-size: 25px;
    color: white;
    outline: none;
    border: none;
    border-radius: 20px;
    background-color: rgb(236, 83, 6);
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.card_quiz ul li  button a{
    text-decoration: none;
    color: white;

}
.card_quiz ul li img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* wrap_questionQuiz */





.wrap_questionQuiz{
    display: grid;
    grid-template-columns: 40% 60%;
}
.wrap_questionQuiz .left_questions ,
.wrap_questionQuiz .right_questions{
    height: 100vh;
    position: relative;
   
}
.wrap_questionQuiz .right_questions{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
   
}
.wrap_questionQuiz .right_questions .in_right_questions h1{
    font-size: 20px;
    margin: 20px 0;
}
.in_right_questions{
    height: 80vh;
    width: 80%;
    padding: 20px;
    background-color: rgb(28, 28, 28) ;
    border-radius: 20px;
    position: relative;

}

/* box-shadow: 0 0 15px 15px rgb(236, 83, 6) ; */
.in_right_questions form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 420px;
    margin: 0 auto;
    gap: 10px;

}

.correct {
    background-color: green;
  }
  
  .incorrect {
    background-color: #ff0000;
  }
  
label{  
    background-color:hsl(0, 1%, 31%) ;
    width: 200px;
    padding: 20px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    
}
label input{
    opacity: 0;
}
.wrap_questionQuiz  .btns_next button{
    padding: 20px 20px;
    border-radius: 10px;
    color: black;
    position: absolute;
    outline: none;
    border: none;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
   

}
.wrap_questionQuiz  .btns_next button:hover{
    transform: scale(1.1);
    
}
.wrap_questionQuiz .left_questions img{
    width: 100%;
    height: 100vh;
}
.howwell{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.9) , rgba(0, 0, 0, 0.7), transparent);
    z-index: 100;
}
.howwell p{
    font-size: 50px;
}
.resultat_word{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
   


}

.greenboxshadow{
    position: absolute;
    top: -15px;
    left: -15px;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 15px 15px rgb(52, 236, 6) ;
}
.redboxshadow{
    position: absolute;
    left: -15px;
    top: -15px;
    z-index: -1;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    box-shadow: 0 0 15px 15px rgb(236, 29, 6) ;
}
#my-canvas{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

.in_give_result{
   display: flex;
   align-items: center;
   justify-content: center;
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.in_give_result_score{
    width: 300px;
    text-align: center;

}
.give_result .score .btn_score{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.give_result .score .btn_score button{
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    background-color: none;
    outline: none;
    border-radius: 10px;
    font-size: 20px;
}
.give_result .score .btn_score button a{
    text-decoration: none;
    color: black;
}
.give_result h1{
    font-size: 40px;
}
.give_result p:last-child{
    font-size: 50px;
}
.nombrereponse{
    text-align: end;
}