*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}
.grid_them{
  background-color: black;

}

.Navbar .navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: transparent;
  width: 100%;
  z-index: 300;
  
}

.navbar.sticky {
  width: 90%;
  margin: auto; 
  padding: 0 5%; 
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  background-color: black;
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 3px 3px 3px 3px rgb(74, 74, 74);
  transition: width 0.5s; 
   

}

.wrapper_navbar{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}



.navbar ul li{
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  
  

} 

.grid_them{
  width: 100%;
  height: 100vh;
  
}
.test{
  height: 100vh;
}

.grid_them .carrous_me .left h1{
  font-size: 50px;
  
}

.grid_them  img{
  width: 100%;
  height: 100vh;
}
.grid_them .wrap_background_opacity{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, rgba(0, 0, 1, 1), transparent)
  
}
.grid_them .background_opacity{
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  margin-left:40px;

}
.grid_them .background_opacity .left_b_opacity{
  width: 60%;
  position: relative;
  height: 70%;
}
.grid_them .background_opacity h1{
  font-size: 80px;
}
.grid_them .background_opacity p{
  width: 60%;
  opacity: 0.9;
  text-align: justify;
}


.btns_rl{
  position: absolute;
  bottom: 40px;
  right: 30px;
  display: flex;
}
.btn_left img , .btn_right img{
  width: 35px;
  height: 35px;
  margin: 0 10px;
  cursor: pointer;
}

/* dots */
.dots{
  right: calc(50% - 20px) ;
  display: flex;
  

}
.dots .dot{
  opacity: 0.6;
  margin: 0 5px;
}
.dots .active_dot{
  opacity: 1;
  transform: scale(1.9);
  transition: transform 0.4s;
  color: rgb(236, 83, 6);

}


.grid_slide {
  opacity: 0;
  display: none;
  transition: opacity 5s ease;
}

.grid_slide.show {
  opacity: 1;
  display: block;
}
.btn_info{
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  bottom: 0px;
  right: 250px;
  
}
.btn_info button{
  padding: 8px 14px ;
  background-color:#ec5306 ;
  outline: none;
  border: none;
  color: white;
  font-size: 23px;
  border-radius: 10px;
  cursor: pointer;
}


