*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: black;
  color: white;
}
.wrap_contain{
  background-image: url(./assets/bg\ joker.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  height: 100vh;
}
.Navbar_Accueil .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;

  
}
.Navbar .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: transparent;
  width: 100%;


}
.navbar ul li{
  display: inline-block;
  margin: 0 20px;
  font-size: 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: white;
  

} 

.wrap_contain{
  width: 100%;
  display: flex;

}
.left{
  margin-top: 50px;
  width: 37%;
  height: 450px;
  padding: 20px;
  position: relative;
}

.left h1{
  font-size: 150px;
}
.left p{
  width: 350px;
  opacity: 0.8;
}
.left .more {
  position: absolute;
  bottom: 10px;
  right: 30px;
}
.left .more button{
  padding: 5px 10px;
  font-size: 23px;
  color: white;  
  border: 1px solid rgb(244, 236, 236);
  outline: none;
  border-radius: 10px;
  font-weight: bold;
  background-color: transparent;
}
.more button a{
  text-decoration: none;
  color: white;
}